@*@model IEnumerable<SolbookingNew.Models.Habitacione>*@
@model List<SolbookingNew.Models.Habitacione>

@{
    ViewBag.Title = "Habitaciones";
}

<h2>Habitaciones</h2>

<div>
    <h4>Habitaciones</h4>
    <hr />
    <table class="table">
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Nombre)*@
                Nombre
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Tipo)*@
                Tipo
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
        </tr>
        }    
    </table>  
    
</div>
<p>
    @Html.ActionLink("Volver a la lista", "Index")
</p>
